<style>
  .section-{{ section.id }}.custom-marquee {
    display: flex;
    align-items: center;
    height: {{section.settings.marquee_height}}px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    background:{{section.settings.colorBackground}};
    color:{{section.settings.colorText}};
  }
  .section-{{ section.id }}.custom-marquee a {
    color:{{section.settings.colorText}};
    text-decoration: none;
  }
  .section-{{ section.id }}.custom-marquee .track {
    display: flex;
    align-items: center;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite;
  }
  .section-{{ section.id }}.custom-marquee .content {
    margin-left: 40px;
    font-size: {{section.settings.font_size}}px;
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20%);
    }
  }
</style>

{{ block.settings.image_picker | image_url: width: 75 | image_tag }}

<div class="section-{{ section.id }} custom-marquee" role="region" {{ block.shopify_attributes }}>
  <div class="track">
    {%- for block in section.blocks -%}
      {% if block.type == 'text' %}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {% elsif block.type == 'image_picker' %}
        <span class="content marquee-image">
          {% if block.settings.collection_link != blank %}
            <a href="{{ block.settings.collection_link }}">
              {{ block.settings.image_picker | image_url: width: 75 | image_tag }}
            </a>
          {% else %}
            {{ block.settings.image_picker | image_url: width: 75 | image_tag }}
          {% endif %}
        </span>
      {% endif %}
    {%- endfor -%}
    <!-- Repeat the blocks for seamless looping -->
    {%- for block in section.blocks -%}
      {% if block.type == 'text' %}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {% elsif block.type == 'logo_picker' %}
        <span class="content marquee-image">
          {% if block.settings.collection_link != blank %}
            <a href="{{ block.settings.collection_link }}">
              {{ block.settings.image_picker | image_url: width: 75 | image_tag }}
            </a>
          {% else %}
            {{ block.settings.image_picker | image_url: width: 75 | image_tag }}
          {% endif %}
        </span>
      {% endif %}
    {%- endfor -%}
  </div>
</div>

{% comment %}
  <div class="section-{{ section.id }} custom-marquee " role="region" {{ block.shopify_attributes }}>
    {%- if section.settings.link != blank -%}
      <a href="{{ section.settings.link }}" class="">
    {%- endif -%}
    <div class="track ">
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        <span class="content marquee-text">{{ block.settings.new_text | escape }}</span>
      {%- endfor -%}
      {%- if section.settings.link != blank -%}
        {% render 'icon-arrow' %}
      {%- endif -%}
    </div>
    {%- if section.settings.link != blank -%}
      </a>
    {%- endif -%}
  </div>
{% endcomment %}

{% schema %}
{
  "name": "Marquee Text",
  "settings": [
    {
      "type": "color",
      "id": "colorBackground",
      "label": "Background color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "colorText",
      "label": "Text color",
      "default": "#fff"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "range",
      "id": "marquee_height",
      "min": 24,
      "max": 200,
      "step": 2,
      "default": 46,
      "label": "Marquee height"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 8,
      "max": 100,
      "step": 2,
      "default": 24,
      "label": "Font size"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 20,
      "settings": [
        {
          "type": "text",
          "id": "new_text",
          "default": "Welcome to store",
          "label": "Text"
        }
      ]
    },
    {
      "type": "image_picker",
      "name": "Logo Picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": "Logo"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collection Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Marquee",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
